@import "../../layout/layout";

@mixin c-container(){
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  @include desktop {
    max-width: 980px;
    padding: 0;
  }
}