@import "../../layout/layout";

@mixin c-title {
  font-family: "Yu Mincho Medium", YuMincho, serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #393739;
  &::first-letter {
    font-size: 1.5em;
    color: #C3504F;
  }
  @include desktop{
    font-size: 5rem;
  }
}
@mixin c-titleCenter {
  font-family: "Yu Mincho Medium", YuMincho, serif;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 4px;
  color: #393739;
  &::first-letter {
    font-size: 1.5em;
    color: #C3504F;
  }
  @include desktop{
    font-size: 5rem;
  }
}

@mixin c-caption {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: #C3504F;
  line-height: 1.5;
  @include desktop(){
    font-size: 2.5rem;
  }
}

@mixin c-subTitle {
  margin-bottom: 1rem;
  font-family: YuMincho, serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #393739;
}

@mixin c-sentence {
  line-height: 2;
  color: #393739;
}