//.c-firstView_img{
//  position: relative;
//}
//
//.c-logo{
//  position: absolute;
//  top:0;
//}
//
//.c-firstView_heading{
//  position: absolute;
//  top:0;
//}
//
//.c-firstView_text{
//  position: absolute;
//  top:0;
//}
//
//.c-conceptDescription {
//
//  &_img {
//    position: relative;
//  }
//  &_text{
//    position: relative;
//    top:-608px;
//    left:680px;
//  }
//}
//
//.c-conceptKeyword{
//  &_text{
//    position: relative;
//    top:-160px;
//    left:230px;
//  }
//}