@import "reset";

body {
  color: #333;
}
.container{
  width: 1101px;
  margin: auto;
  left: 0;
  right: 0;
}

.topCover {
  font-family: YuGothic, serif;
  background-color: chocolate;
  width: 100%;
  height: 90vh;
  color: #ffffff;
  position: relative;
  &Company {

  }
  &Text {
    position: absolute;
    left: 166px;
    top: 503px;
    &Title {
      letter-spacing: 6px;
      font-size: 47px;
      font-weight: bold;
    }
    &Detail {
      height: 33px;
      font-size: 17px;
      margin-top:33px;
      letter-spacing: 1px;
    }
  }
  &Scroll{
    position: absolute;
    bottom:-40px;
    width: 100%;
    height: 80px;
    & span{
      z-index: 20;
    }
    &Circle{
      background-color: #C3504F;
      width: 80px;
      height: 80px;
      margin: auto;
      left: 0;
      right: 0;
      padding: 30px;
      box-sizing: border-box;
      border-radius: 50%;
      text-align: center;
      z-index: 10;
    }
  }
}
.mainContents{
  font-family: YuGothic, serif;
  margin-top: 140px;
  
  &Title{
    box-sizing: border-box;
    padding: 35px 0;
    position: relative;
    font-family: YuMincho, serif;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    &:before{
      box-sizing: border-box;
      position: absolute;
      top:0;
      left:0;
      right: 0;
      margin:auto;
      content: '';
      width: 120px;
      height: 120px;
      border: 4px solid #F5F1F1;
      border-radius: 50%;
    }
  }
  &Detail{
    margin: 72px auto auto;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    width: 925px;
    left: 0;
    right: 0;
  }
}
